<div class="container">
    <div class="left-nav">
        <accordion close-others="true">
            <accordion-group is-open="isopen">
                <accordion-heading>
                    <button id="showJourney" class="btn btn-primary" ng-click="add();"> Journeys</button>
                    <a id="journeyLink" class="pull-right glyphicon" style="text-decoration: none"
                       ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}">
                    </a>
                </accordion-heading>
                <div id="tableDiv" ng-show="!noJourneys">
                    <div>
                        <table class="table table-bordered table-hover success">
                            <thead>
                                <tr>
                                    <th>Source</th>
                                    <th>Destination</th>
                                    <th>Date</th>
                                    <th>Stops</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="journey in journeys" ng-class="{even: $even, odd: $odd}">
                                    <td>{{journey.source}}</td>
                                    <td>{{journey.destination}}</td>
                                    <td>{{journey.date}}</td>
                                    <td>
                                        <ul ng-repeat="waypt in journey.waypts">
                                            <li>{{waypt.name}}</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="alert alert-warning" ng-show="noJourneys">
                    You don't have any journeys yet? <a class="alert-link" href="#/addJourney"> Register a new Journey</a>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
