<!--<div class="col-md-12">
    <form name="form" ng-hide="success" ng-submit="sendForm()" role="form" novalidate show-validation>
        <div class="col-md-12">
            <div class="col-md-3">
                <label>Source</label>
                <input type="text" id="driverSource" name="driverSource" class="form-control" ng-model="journey.source"
                       maxlength="70" ng-minlength=1 ng-maxlength=70 ng-autocomplete
                       placeholder="Enter Departure (address)"
                       required data-toggle="tooltip" data-placement="top"
                       data-original-title="Enter a specific departure point that's convenient for passengers.">&#xA0;
                <div ng-show="form.source.$dirty && form.source.$invalid">
                    <p class="help-block" ng-show="form.source.$error.required">
                        Source is required.
                    </p>

                    <p class="help-block" ng-show="form.source.$error.maxlength">
                        Source cannot be longer than 70 characters
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <label>Destination</label>
                <input type="text" id="driverDestination" name="driverDestination" class="form-control"
                       ng-model="journey.driverDestination"
                       maxlength="70" ng-autocomplete ng-minlength=1 ng-maxlength=70
                       placeholder="Enter Arrival (address)"
                       required data-toggle="tooltip" data-placement=top ng-click="addUsername()"
                       data-original-title="Enter a specific arrival point.">&#xA0;

                <div ng-show="form.destination.$dirty && form.destination.$invalid">
                    <p class="help-block" ng-show="form.destination.$error.required">
                        Destination is required.
                    </p>

                    <p class="help-block" ng-show="form.destination.$error.maxlength">
                        Destination cannot be longer than 70 characters
                    </p><br>&#xA0;
                </div>
            </div>


            <div class="col-md-2">
                <label>Date</label>

                <div class="form-group input-group">
                    <label class="input-group-btn" for="date-fld2">
                                <span class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                    </label>
                    <input type="text" class="form-control date-input" id="date-fld2" ng-model="journey.date"/>
                </div>
            </div>
            <div class="col-md-2">
                <label>Time</label>

                <div class="input-group bootstrap-timepicker timepicker">
                    <input id="timepicker" class="form-control" data-provide="timepicker"
                           ng-model="journey.time" data-minute-step="1" type="text" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
            </div>

            <div class="col-md-2">
                <label></label>
                <input type="submit" id="submit"ng-click="add();calcRoute(); myFun()">
            </div>


        </div>
    </form>


    <div class="col-md-6">
        <div>
            <div>
                <div class="list-group">
                    <table id="journeyTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Route</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="journey in combinations">
                            <td>{{journey}}</td>
                           <!-- <td id="tdSource">{{journey.source}}</td>
                            <td class="hidden-xs">{{journey.destination}}</td>
                            <td>{{journey.date | date : 'd/M/yy'}}</td>
                            <td>{{journey.time}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="addSource(journey.source);">Add</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <pagination
                class="smallerText"
                ng-show="!searching"
                ng-model="currentPage"
                total-items="total"
                max-size="maxSize"
                boundary-links="true"
                ng-change="pageChanged(currentPage)"></pagination>
        </div>
    </div>
    <div class="col-md-6" ng-hide="success">
        <my-map id="map_canvas"></my-map>
    </div>
</div>-->



