<table class="table table-bordered table-hover success">
    <thead>
    <tr>
        <th>Add</th>
        <th>Posted By</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pj in journeyRequests" ng-class="{even: $even, odd: $odd}">
        <td ><input id="{{pj.id}}" type="checkbox" ng-checked="selection.indexOf(pj.id) > -1" ng-click="toggleSelection(pj.id)"></td>
        <td>{{pj.username}}</td>
        <td>{{pj.source}}</td>
        <td>{{pj.destination}}</td>
        <td>{{pj.date}}</td>
        <td>{{pj.time}}</td>
    </tr>
    </tbody>
</table>
<div><button class="btn btn-primary" ng-click="paths();"></button>Paths</div>
<div><button class="btn btn-primary" ng-click="minIndex();"></button>index</div>

